In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('Medical price Dataset.csv')

In [4]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
data.shape

(1338, 7)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label = LabelEncoder()
data['sex']=label.fit_transform(data['sex'])
data['smoker']=label.fit_transform(data['smoker'])
data['region']=label.fit_transform(data['region'])

In [10]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [11]:
data.head(100)

    age  sex     bmi  children  smoker  region      charges
0    19    0  27.900         0       1       3  16884.92400
1    18    1  33.770         1       0       2   1725.55230
2    28    1  33.000         3       0       2   4449.46200
3    33    1  22.705         0       0       1  21984.47061
4    32    1  28.880         0       0       1   3866.85520
..  ...  ...     ...       ...     ...     ...          ...
95   28    0  37.620         1       0       2   3766.88380
96   54    0  30.800         3       0       3  12105.32000
97   55    1  38.280         0       0       2  10226.28420
98   56    1  19.950         0       1       0  22412.64850
99   38    1  19.300         0       1       3  15820.69900

[100 rows x 7 columns]

In [33]:
class linear_regression:
    def __init__(self,learning_rate,no_of_iteration):
        self.learning_rate=learning_rate
        self.no_of_iteration=no_of_iteration
    def fit(self,x,y):
        self.m,self.n=x.shape
        self.w=np.zeros(self.n)
        self.b=0
        self.x=x
        self.y=y
        for i in range(self.no_of_iteration):
            self.update_weights()
    def update_weights(self):
        yprediction=self.predict(self.x)
        dw =  - ( 2 * ( self.x.T ).dot( self.y - yprediction ) ) / self.m
        db =  - 2 * np.sum( self.y - yprediction ) / self.m
        self.w=self.w-self.learning_rate*dw
        self.b=self.b-self.learning_rate*db
    def predict(self,x):
        return x.dot(self.w)+self.b

In [25]:
x=data.drop(['charges'],axis=1)
y=data['charges']

In [26]:
from sklearn.model_selection import train_test_split

In [66]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=2)

In [67]:
from sklearn.preprocessing import StandardScaler

In [68]:
sc = StandardScaler()
sc.fit(xtrain)
xtrain = sc.transform(xtrain)
xtest = sc.transform(xtest)

In [69]:
model=linear_regression(0.01, 1000)

In [70]:
model.fit(xtrain, ytrain)

In [71]:
ypred = model.predict(xtest)

In [72]:
from sklearn.metrics import r2_score

In [73]:
accuracy=r2_score(ytest,ypred)
print(accuracy*100)

74.45422984202844